{
  "$schema": "./config.schema.json",

  "command": {
    "vaga": {
      "chatIdToForwardMessages": "@specialdude",
      "botResponses": [
        "sua msg encaminhada pro canal @javascriptbrvagas 👍",
        "msg encaminhada pro canal @javascriptbrvagas 🥰"
      ]
    },
    "java": {
      "replyWithMsg": "Java <b>nao é</b> JavaScript. Use este outro grupo: https://t.me/javabr"
    }
  }
}
