{
  "$schema": "./config.schema.json",

  "command": {
    "vaga": {
      "chatIdToForwardMessage": "@javascriptbrvagas",
      "replyWithMsg": "sua msg encaminhada pro canal @javascriptbrvagas 👍"
    },
    "java": {
      "replyWithMsg": "Java <b>nao é</b> JavaScript. Use este outro grupo: https://t.me/javabr"
    }
  }
}
